.text-field-container {
    margin-bottom: 20px; 
}

.text-field-input.dark-mode {
    width: 100%; /* Make the input take up the full width */
    padding: 10px; /* Add padding for better appearance */
    border: 1px solid #3d3d3d; /* Add a border */
    border-radius: 5px; /* Add border radius for rounded corners */
    font-size: 16px; /* Adjust font size as needed */
    outline: none; /* Remove outline */
    resize: vertical; /* Allow vertical resizing of the textarea */
    background-color: #1c1c20;
}

.text-field-input.light-mode {
    width: 100%; /* Make the input take up the full width */
    padding: 10px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add border radius for rounded corners */
    font-size: 16px; /* Adjust font size as needed */
    outline: none; /* Remove outline */
    resize: vertical; /* Allow vertical resizing of the textarea */
    background-color: #e9e7e7;

}

.text-field-input:focus {
    border-color: orange; 
}
