/* styles.css */

@keyframes openFromMiddle {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.landing-ui {
  animation: openFromMiddle 3s ease-in-out;
}

@media (min-width: 320px) {
  .layout-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
